.advantagets	{
	min-height: 475px;
	padding: 73px;
	background: #F6F6F6;
	&__wrapper	{
		display: flex;
	}
	
	&__icons	{
		display: flex;
		justify-content: space-between;
		text-align: center;
		margin-top: 40px;
		width: 922px
		}

	&__descr	{
		margin-top: 40px;
		width: 256px;
	}	
	&__title	{
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		color: #0D0D0D;
	}
	&__subtitle	{
		margin-top: 26px;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		text-align: center;
		color: #0D0D0D;
		a	{
			text-decoration: none;
			color:$main-color;
		}
	}
	
		
}